<form method="post" action="/recipes">
    <label>Name: <input type="string" name="recipe[name]" id="name"></label>
    <label>Ingredients: <input type="string" name="recipe[ingredients]" id="ingredients"></label>
    <label>Cooking time: <input type="string" name="recipe[cook_time]" id="cook_time"></label>
    <input type="submit" value="submit" id="Submit">
</form>